:root {
  /*Colores*/
  --bitcoin-orange: #F7931A;
  --soft-orange: #FFE9D5;
  --secondary-blue: #1A9AF7;
  --soft-blue: #E7F5FF;
  --warm-dark: #201E1C;
  --warm-dark1: #282623;
  --dark: #282623;
  --light-gray: #757575;
  --light-gray1: #808080;
  --gray: #BABABA;
  --white: #fff;
  --off-white: #FAF8F7;
}

html {
  font-size: 62.5%; /*Reset para REMS - 62.5% = 10px de 16px | 1 rem = 10px  */
  box-sizing: border-box; /*Aplicar correctamente box-sizing*/
}
*, *::before, *::after { /*Aplicar correctamente box-sizing*/
  box-sizing: inherit; /*Aplicar correctamente box-sizing*/
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'DM Sans', sans-serif; /*Establecimos el tipo de fuente para todo el documento*/
  font-size: 1.6rem; /*Para establecer un tamaño estandar a todo el font-size del documento;*/
}
header {
  padding: 0 2%;
  position: relative;
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
.header__picture-container img {
  width: 17rem;
}
.header__title-container {
  text-align: center;
  margin-bottom: 3rem;
}
.header__title-container h1{
  color: var(--white);
  margin-bottom: 2.4rem;
  font-weight: 700;
}
.header__title-container p{
  color: var(--soft-orange);
}
.header__button {
  color: var(--dark);
  font-weight: 700;
  text-decoration: none;
  padding: 1.5rem;
  position: absolute;
  bottom: -2.3rem;
  background: #FAF8F7;
  /* Sombra /Blanco */
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.5);
  border-radius: 0.4rem;
}
.header__button span {
  display: inline-block;
  width: 1.3rem;
  height: .8rem;
  margin-left: 1rem;
  background-image: url('./assets/icons/down-arrow.svg');
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!- cambios - !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}
.main-exchange-container--title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}
.main-exchange-container .backgroundImg {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-image: url("./assets/imgs/bitcoin.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-exchange-container h2 {
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}
.main-exchange-container p {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #757575;
}
.main-currency-table,
.main-commissions-table {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 360px;
  margin: 0 auto;

  font-family: "Inter", sans-serif;
}
.main-currency-table .currency-table--title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: var(--bitcoin-orange);
}
.main-commissions-table .commissions-table--title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: var(--secondary-blue);
}
.currency-table--container,
.commissions-table--container {
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
  /* background-color: #fff; */
  border-radius: 15px;
}
.currency-table--container table,
.commissions-table--container table {
  width: 100%;
  height: 100%;
}
.currency-table--container td,
.commissions-table--container td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: var(--grey);
  /* border-bottom: 1px solid #faf8f7; */
  background-color: var(--just-white);
}
.currency-table--container .table__top-left,
.commissions-table--container .table__top-left {
  border-radius: 15px 0 0 0;
}
.currency-table--container .table__top-right,
.commissions-table--container .table__top-right {
  border-radius: 0 15px 0 0;
}
.currency-table--container .table__bottom-left,
.commissions-table--container .table__bottom-left {
  border-radius: 0 0 0 15px;
}
.currency-table--container .table__bottom-right,
.commissions-table--container .table__bottom-right {
  border-radius: 0 0 15px 0;
}
.currency-table--container .table__right,
.commissions-table--container .table__right {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
  color: #757575;
}
.currency-table--container .up {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url("./assets/icons/trending-up.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.currency-table--container .down {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url("./assets/icons/trending-down.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.currency-table--date {
  width: 190px;
  height: 31px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 8px;
  background-color: var(--soft-orange);
  border-radius: 8px;
}
.commissions-table--date {
  width: 190px;
  height: 31px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 8px;
  background-color: var(--soft-blue);
  border-radius: 8px;
}
.currency-table--date p,
.commissions-table--date p {
  margin: 7px;
  font-size: 1.2rem;
  line-height: 1.5px;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!- product-detail - !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.product-detail {
  background-color: var(--warm-dark);
}
.product-detail h2, h3{
  color: var(--white);
  font-weight: 700;
}
.product-detail p {
  color: var(--light-gray1);
  font-weight: 500;
}

.product-detail__header {
  text-align: center;
}